.note-list{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 35px;
}

.note-row{
    gap: 35px;
    display: flex;
    width: 100%;
    flex-direction: column;
}



@media only screen and (min-width: 600px) {
    .note-list{
        width: 95%;
        gap: 50px;
    }
    .note-row{
        gap: 50px;
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) {
    .note-list{
        max-width: 1000px;
        gap: 50px;
    }
    .note-row{
        gap: 50px;
    }
}